body{
    background-color: blueviolet;
}

.buscar{
    background-color: white;
}

.secion6{
    
    background-image: url(../imagenes/23del.jpg); 
}

.secion6 p{
    color: white;
}

.secion6 h2{
    color: rgba(255, 255, 255, 0.541);
}
.data{
    padding: 60px;
}

.listica{
    padding: 60px;
}

.listica h2{
    font-weight: bold;
    font-size: 0.9em;
    width: 50%;
    padding: 0;

}

.listica p{
    font-weight: bold;
    padding: 1px;

}
.listica img{
    width: 50vh;
    height: 50vh;
}

textarea{
    border: rgba(255, 255, 255, 0) solid 2px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.626);
    border-radius: 5px;
    width: 89%;
    outline: none;
}


.name{
    border: rgba(255, 255, 255, 0) solid 2px;
    background-color: rgba(255, 255, 255, 0.626);
    padding: 10px;
    width: 43%;
    border-radius: 5px;
    outline: none;
}

.correo{
    border: rgba(255, 255, 255, 0) solid 2px;
    background-color: rgba(255, 255, 255, 0.626);
    padding: 10px;
    position: relative;
    left: 2%;
    width: 43%;
    border-radius: 5px;
    outline: none;
}

button{
    border-radius: 5px;
    border: rgba(255, 255, 255, 0) solid 2px;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.626);
    outline: none;
}


.avion a{
    font-weight: bold;
    color: #ED6CA6;
    text-decoration: none;
}

button a{
    color: white;
}
.bru{
    background-color: #363740;
    padding: 20px;
}
.usuario a{
    color: white;
}